---
import { sanityClient } from "sanity:client";
// @ts-ignore
import toMarkdown from '@sanity/block-content-to-markdown';
import createPreviewContent from '../utils/previewContent';
import ImageUrlBuilder  from "@sanity/image-url";
import Base from '../layouts/Base.astro';
import SanityPicture, {setSanityPictureDefaults} from "astro-sanity-picture";

const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)] | order(publishedAt desc)`);

const htmlDateString = (date: number) => new Date(date).toLocaleDateString('fr-FR', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});

setSanityPictureDefaults({imageUrlBuilder: ImageUrlBuilder(sanityClient)});
---

<Base title="Blog">
<div class="blog-wrapper">
	<h2>Les derniers postes</h2>
	<div class="blog-container" id="blog-container">
		{posts.map((post: any) => {
			const content = toMarkdown(post.body)
			const previewContent = createPreviewContent(content);


			return (
				<div class="blog-card">
					<div class="image-overlay">
						<p class="blog-card-date">{htmlDateString(post.publishedAt)}</p>
						{/* <div class="blog-card-author">
							<span class="blog-card-author-name">écrit par {post.author || "Personne"}</span>
						</div> */}
					</div>

					{post.mainImage && (
						<a class="no-style blog-card-image-container" href={'/posts/' + post.slug.current}>
							<SanityPicture
								src={post.mainImage}
								sizes="(max-width: 600px), 600px"
								img={{style: {objectFit: 'cover'}}}
								class:list={"blog-card-image"}
							/>
						</a>
					)}

					{!post.mainImage && (
						<a class="no-style blog-card-image-container" href={'/posts/' + post.slug.current}>
							<img
								src={post.mainImage}
								sizes="(max-width: 600px), 600px"
								class:list={"blog-card-image"}
							/>
						</a>
					)}


					<div class="blog-card-container">
						{(post.tags && post.tags.length > 0) && (
							<div class="blog-tag-container">
								{post.tags && post.tags.map((tag: string) => (
									<a class="blog-tag" href={`/tags/${tag}`}>
										{tag}
									</a>
								))}
							</div>
						)}

						<div class="blog-card-content">
							{previewContent}
						</div>

						<a class="secondary-button read-post-button" href={'/posts/' + post.slug.current}>
							Lire le poste
						</a>
					</div>
				</div>
		)})}
	<div class="blog-container-shadow"></div>

	<script type="text/javascript" is:inline>
		const scrollSpeed = 200;
		const container = document.getElementById("blog-container");
		container.style.scrollBehavior = "smooth";
		container.addEventListener("wheel", function (e) {
			if (e.deltaY > 0) {
				container.scrollLeft += scrollSpeed;
				e.preventDefault();
			} else {
				container.scrollLeft -= scrollSpeed;
				e.preventDefault();
			}
		});
	</script>
</div>

</Base>

