---
import { sanityClient } from "sanity:client";
import Base from '../layouts/Base.astro';
import BlogCard from '../components/BlogCard.astro';
import { getSanityImageURL } from "../utils/helpers";

import blogBannerPlaceholder from '../assets/rnr_blog_placeholder.png';
import { undefined } from "astro:schema";

const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)] | order(publishedAt desc)[0...3]`);

// const htmlDateString = (date: number) => new Date(date).toLocaleDateString('fr-FR', {
//   year: 'numeric',
//   month: 'long',
//   day: 'numeric',
// });
---

<Base title="Blog">
<div class="blog-wrapper">
	<h2>Les derniers posts</h2>
	<div class="blog-container" id="blog-container">
		{posts.map((post: any) => {
			let imgUrl: any = undefined
			if (post.mainImage && post.mainImage.asset)
				imgUrl = getSanityImageURL(post.mainImage.asset).url() 

			return (
				<BlogCard 
					title={post.title}
					imageUrl={imgUrl}
					image={blogBannerPlaceholder}
					url={'/posts/' + post.slug.current}
					tags={post.tags}
					text={post.preview}
				/>
			)})}
		
	<div class="blog-container-shadow"></div>
</div>

</Base>

